@model IList<Post>

<div class="mb-4">
    <h3 class="text-success mb-2">
        Bài viết nổi bật
    </h3>
    <ul class="list-group">
        @foreach (var post in Model) {
            <li class="list-group-item">
                <a asp-controller="Blog"
                    asp-action="Post"
                    asp-route-year=@post.PostedDate.Year
                    asp-route-month=@post.PostedDate.Month
                    asp-route-day=@post.PostedDate.Day
                    asp-route-slug=@post.UrlSlug
                   title=@post.Description>
                    @post.Title
                </a>
            </li>
        }
    </ul>
</div>