@model IPagedList<Post>

@if (Model.PageCount > 1) {
    <div class="text-center my-4">
        @if (Model.HasPreviousPage) {
            <a asp-area="Admin"
               asp-controller="Posts"
               asp-action="Index"
               asp-route-page=@(Model.PageNumber - 1)
               asp-route-page-size=@Model.PageSize
               class="btn btn-info">
                <i class="fa fa-arrow-left"></i>
                Trang trước
            </a>
        } else {
            <button type="button"
                    class="btn btn-outline-secondary"
                    dsiabled>
                <i class="fa fa-arrow-left"></i>
                Trang trước
            </button>
        }

        @if (Model.HasNextPage) {
            <a asp-area="Admin"
               asp-controller="Posts"
               asp-action="Index"
               asp-route-page=@(Model.PageNumber + 1)
               asp-route-page-size=@Model.PageSize
               class="btn btn-info">
                <i class="fa fa-arrow-right"></i>
                Trang sau
            </a>
        } else {
            <button type="button"
                    class="btn btn-outline-secondary"
                    dsiabled>
                <i class="fa fa-arrow-right"></i>
                Trang sau
            </button>
        }
    </div>
}