@model TipsAndTricks.WebApp.Areas.Admin.Models.PostFilterModel

<form asp-area="Admin"
      asp-controller="Posts"
      asp-action="Index"
      method="get"
      class="row gy-2 gx-3 align-items-center">
    <div class="col-auto">
        <label asp-for="Keyword" class="visually-hidden"></label>
        <input type="text"
               asp-for="Keyword"
               class="form-control"
               placeholder="Nhập từ khóa" />
    </div>
    <div class="col-auto">
        <label asp-for="AuthorId" class="visually-hidden"></label>
        <select asp-for="AuthorId"
                asp-items=@Model.AuthorList
                class="form-select">
            <option value="" selected>-- Chọn tác giả --</option>
        </select>
    </div>
    <div class="col-auto">
        <label asp-for="CategoryId" class="visually-hidden"></label>
        <select asp-for="CategoryId"
                asp-items=@Model.CategoryList
                class="form-select">
            <option value="" selected>-- Chọn chủ đề --</option>
        </select>
    </div>
    <div class="col-auto">
        <label asp-for="PostedYear" class="visually-hidden"></label>
        <input type="text"
               asp-for="PostedYear"
               class="form-control"
               placeholder="Nhập năm" />
    </div>
    <div class="col-auto">
        <label asp-for="PostedMonth" class="visually-hidden"></label>
        <select asp-for="PostedMonth"
                asp-items=@Model.MonthList
                class="form-select">
            <option value="" selected>-- Chọn tháng --</option>
        </select>
    </div>
    <div class="col-auto d-flex">
        <input type="checkbox"
                asp-for="Unpublished"
                class="form-check me-2" />
        <label asp-for="Unpublished">Chưa xuất bản</label>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary">Tìm/Lọc</button>
        <a asp-area="Admin"
           asp-controller="Posts"
           asp-action="Edit"
           class="btn btn-success">
            Thêm mới
        </a>
    </div>
</form>