@{
    ViewData["PageTitle"] = "Đăng ký nhận thông báo";
}

<div class="mx-auto p-5 w-50 text-center">
    <img src="/images/subscribed.jpg" alt="subscribed-image" class="w-100 rounded shadow" />
    <h4 class="mt-4 text-uppercase">Cảm ơn bạn đã đăng ký!</h4>
    <p>Chúng tôi sẽ gửi thông báo cho bạn qua email khi có nội dung mới.</p>
</div>