:root {
    --header-height: 67px;
    --footer-height: 24px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
}

.content {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    bottom: var(--footer-height);
}

.main {
    height: calc(100vh - var(--header-height) - var(--footer-height));
    overflow-y: auto;
}

.sidebar {
    height: calc(100vh - var(--header-height) - var(--footer-height));
    overflow-y: auto;
}

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: rgba(127, 127, 127);
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
    background: #7f7f7f99;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:active {
    background: #7f7f7fcc;
    background-clip: padding-box;
}