<div class="mx-auto p-5 w-50 text-center">
    <img src="/images/error.jpg" alt="error-image" class="w-100 rounded shadow" />
    <h4 class="mt-4 text-uppercase">Bài viết này có vấn đề rồi!</h4>
    <p>Quay lại <a asp-controller="Blog" asp-action="Index" class="text-primary">Trang chủ</a> để xem các bài viết khác nhé!</p>
</div>