@model Post

<div class="mx-auto p-5 w-50 text-center">
    <img src="/images/commented.jpg" alt="commented-image" class="w-100 rounded shadow" />
    <h4 class="mt-4 text-uppercase">Gửi thành công!</h4>
    <p>Bình luận của bạn đã được gửi đến quản trị viên để phê duyệt.</p>
    <a asp-controller="Blog"
       asp-action="Post"
       asp-route-year="@Model.PostedDate.Year"
       asp-route-month="@Model.PostedDate.Month"
       asp-route-day="@Model.PostedDate.Day"
       asp-route-slug="@Model.UrlSlug"
       class="btn btn-primary mt-3">
        Quay lại bài viết
    </a>
</div>