@{
    ViewData["PageTitle"] = "Liên hệ";
}

<div class="mx-auto p-5 w-50 text-center">
    <img src="/images/subscribed.jpg" alt="subscribed-image" class="w-100 rounded shadow" />
    <h4 class="mt-4 text-uppercase">Gửi thành công!</h4>
    <p>Cảm ơn bạn đã gửi ý kiến cho chúng tôi!</p>
</div>