@model Post

@{
    ViewData["PageTitle"] = Model.Title;
}

@if (Model.Published) {
    <div class="p-4">
        <partial name="_PostContent" model=@Model />
        <partial name="_CommentForm" model=@Model.Id />
        <partial name="_PostComments" model=@Model />
    </div>
} else {
    <partial name="_PostError" />
}