@model IList<TagItem>

<div class="mb-4">
    <h3 class="text-success mb-2">
        Thẻ
    </h3>
    @foreach (var tag in Model) {
        <a asp-controller="Blog"
           asp-action="Tag"
           asp-route-slug=@tag.UrlSlug
           title="Tag: @tag.Name"
           class="btn btn-sm btn-outline-secondary mb-2">
            @tag.Name
        </a>
    }
</div>