<div class="my-4">
    <partial name="_SearchForm" />

    @await Component.InvokeAsync("CategoriesWidget")

    @await Component.InvokeAsync("FeaturedPostsWidget")

    @await Component.InvokeAsync("RandomPostsWidget")

    @await Component.InvokeAsync("TagCloudWidget")

    <h1>
        Đăng ký nhận tin mới
    </h1>
</div>